.caixa_externa {
    position: absolute;
    top: 45px;
    right: 300px;
    width: 250px;
    z-index: 1;
}


.painel_opcoes {
    background: aliceblue;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.painel_opcoes h4 {
    margin: 0 0 6px 0;
    font-size: 14px;
    font-weight: 600;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;
}


.conteudo input {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.correta {
    background-color: aquamarine;
    border-radius: 4px;
}

.erro_solicitada {
    background-color: rgb(255, 164, 103);
    border-radius: 4px;
}

.erro_solicitar {
    background-color: rgb(255, 115, 80);
    border-radius: 4px;
}

.botao_salvar {
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  border-radius: 5px;
  background: aliceblue;
  font-size: 14px;
}

.botao_salvar_ativo {
    background: #00529e;
    color: white;
    cursor: pointer;
}