 .camadas {
  position: absolute;
  bottom: 75px;
  left: 20px;
  width: 250px;
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
}


.camadas label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
  font-size: 11px;
}

.seletorVariavel {
  width: 93%;
  font-size: 11px;
  height: 24px;
  border: 1px solid rgb(215, 217, 218);
  border-radius: 5px;
  padding: 2px 4px;
  margin-left: 15px;
  margin-bottom: 10px;
} 