.painelDetalhes {
  position: absolute;
  right: 290px;
  bottom: 10px;
  width: 25%;
  height: 98%;
  padding: 10px;
  background: white;
  border-radius: 4px;
  z-index: 1;
  overflow: auto;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #e5e7eb;
}

.cabecalho h1{
  flex: 1;
  font-size: 16px;
  font-weight: 600;
}

.botaoX {
  padding: 8px;
  color: #6b7280;
  border-radius: 9999px;
}

.botaoX:hover {
  background-color: #f5f3f6;
}

.XFechar {
  width: 16px;
  height: 16px;
}


.painelDetalhes h2 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 12px;
}


.itemInvestimento {
  margin-bottom: 20px;
  font-size: 13px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}


.itemInvestimento h3 {
  font-weight: 650;
}


.itemInvestimento a {
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
  color: blue;
}