.input {
    display: flex;
    height: 26px;
    width: 100px;
    margin-right: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(141, 141, 141);
    border-radius: 4px;
    background-color: white;
    font-size: 13px;
    padding: 3px;
}