.legenda {
  position: absolute;
  bottom: 75px;
  width: 250px;
  max-height: calc(100vh - 75px - 45px);
  background: white;
  border-radius: 4px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
} 

.comCamadas {
    left: 280px;
}

.semCamadas {
    left: 80px;
}


.legendaCabecalho {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
}


.titulo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 700;
}

.botaoX {
    padding: 4px;
    color: #6b7280;
    border-radius: 9999px;
}

.botaoX:hover {
    background-color: #f6f3f3;
}

.XFechar {
    width: 16px;
    height: 16px;
}

.conteudo {
    display: block;
    padding: 10px;
}


.itemLegenda {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 2px;
    font-size: 11px;
}


.legenda h4 {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}


.ponto {
    width: 12px;
    height: 12px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.linha {
    width: 20px;
    height: 0px;
    border-top-width: 2px;
    display: inline-block;
}

.linhaPontilhada {
    width: 20px;
    height: 0px;
    border-top-width: 2px;
    border-top-style: dashed;
    display: inline-block;
}

.poligono {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}